<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="card d-flex justify-content-start p-4 navbar-brand" href="#" style="width: 18rem;"> LOGO </a>
  </div>
</nav>
